@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap");

/*
 * Configuration for the design system.
 *
 * This is the file where you want to make any changes to the looks of the
 * design system and still be sure that every component will still follow it.
 *
 * If you want to make changes to how dark and light theme uses these, change
 * change the value from the theme.css file.
 */

:root {
  /* Base colors */
  --black:      black;
  --gray-dark:  #1e1e1e;
  --gray:       #6a6a6a;
  --gray-light: #b6b6b6;
  --white:      snow;

  --red:    lightcoral;
  --yellow: #f9dd76;
  --green:  lightgreen;
  --blue:   #98fcfd;
  --violet: violet;

  /* Font */
  --font-main: "Nunito", sans-serif;

  /* Buffers */
  --buffer-small:  0.5rem;
  --buffer-medium: 1rem;
  --buffer-large:  2rem;

  /* Roundness */
  --roundness-small:  2px;
  --roundness-medium: 8px;
  --roundness-large:  16px;

  /* Fatness */
  --fatness-small:  1px;
  --fatness-medium: 2px;
  --fatness-large:  4px;

  /* Icon */
  --icon-small:  15px;
  --icon-medium: 20px;
  --icon-large:  30px;

  /* Page */
  --page-max-width: calc(960px + 16px);
  --page-min-width: 8rem;
}
