:root[data-theme="dark"] {
	--color-background: var(--gray-dark);
	--color-fill: var(--gray);
	--color-font: var(--white);
	--color-font-opposite: var(--color-background);
}

:root[data-theme="light"] {
	--color-background: var(--white);
	--color-fill: var(--gray-light);
	--color-font: var(--black);
	--color-font-opposite: var(--color-background);
}

/* Colors in both themes */
:root {
	--color-info: var(--blue);
	--color-success: var(--green);
	--color-warning: var(--yellow);
	--color-danger: var(--red);
	--color-link: var(--blue);
}
