:root {
	background: var(--color-background);
	color: var(--color-font);
	font-family: var(--font-main);
}

body {
	margin: 0;
}

button {
	font-family: var(--font-main);
	cursor: pointer;
}

a {
	text-decoration: none;
	font-weight: bold;
	color: var(--color-link);
}

a:hover {
	text-decoration: underline;
}
