.row {
	display: flex;
	flex-direction: row;
}

.row > *, .row.small > * {
	margin-right: var(--buffer-small) !important;
}

.row.medium > * {
	margin-right: var(--buffer-medium) !important;
}

.row.large > * {
	margin-right: var(--buffer-large) !important;
}

.row > *:last-child {
	margin-right: 0 !important;
}
